html, body {
  width: 100%;
  height: 100%;
}

.section {
  display: table;
  width: 100%;
  height: 100%;
}

.section-center {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0.25em);
  filter: blur(0.25em);
}

.btn-primary {
  background-color: #08d;
  border-color: #05a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #09e;
  border-color: #06b;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
